*{
	margin: 0;
	padding: 0;
	border: 0;
}
.cont {
	padding-left: 375px;
	padding-top: 300px;
	display: flex;
	position: relative;
	
}
.wsd {
	display: flex;
	align-items: center;
	justify-content: center;
	Flex-direction: column;
	
}
.img {
	position: absolute;
	top: 245px;

	
}
.sorok {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold
}
.sale{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold

	
}
.f20 {
	font-family: 'Roboto', sans-serif;
	color: grey;
	
}

.text_im {
	
	position: absolute;
	top: 260px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	Flex-direction: column;
	color: white;


}
.text23 {
	position: absolute;
	left: 730px;
	top: 170px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold ;
	font-size: 45px;
	
}
.help {
	width:585px;
	height:25px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
}
.block1 {
	background-color: #3D3BFF;
	width:585px;
	height:805px;
	display: flex;
	align-items: center;
	Flex-direction: column;
	
}


.block1_im1{
	position: absolute;
	top: 265px;
	color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	Flex-direction: column;
	

	
}

.text12 {

	display: flex;
	align-items: center;
	justify-content: center;
	Flex-direction: column;

	
}
.block1_t1{

	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size:15px;
	color: 	#979797;
	padding-top: 140px;	
}

.costPoln{
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	text-decoration:line-through;
	color: 	#979797;
	font-size:38px;
	padding-top: 20px;
	
}
.costNow{
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-size:78px;
	color: 	#FFFFFF;
	padding-top: 40px;
}
.block1_t2{
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	color: 	#FFFFFF;
	font-size:23px;
	
}
.block1_t3 {
	padding-top: 60px;
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-weight:300;
	font-size: 50px;
	color: 	#FFFFFF;
	
}
.block1_t4 {

	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: 	#FFFFFF;
}
.cont1 {
	padding-left: 375px;
	padding-top: 300px;
	display: flex;
	
}
.cont1 {
	
}
.block2 {
	padding-left: 70px;
	background-color: #f7fbff;
	width:565px;
	height: 805px;
	display: flex;
	Flex-direction: Column;

	
	
}
li::marker {
	color: blue;
	
}
li {
	padding-top: 30px;
}
.block2_t1 {
	font-family: 'Maven Pro', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 35px;
	padding-top: 40px;
}
ul {
	font-family: 'Maven Pro', sans-serif;
	font-weight:400;
	color: #657195;
	padding-left: 20px
}

.block2_t2 {
	padding-top: 50px;
	
}
.Data {

	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #657195;

}
.Data1{
	font-size: 20px;
	color: #3D3BFF;
	font-weight: bold;
	padding-right: 40px;
}

#name {

	width: 370px;
	height: 60px;
	border: 1px solid grey;
	margin-top: 25px;
	padding-left: 30px;
	font-size: 15px;
	
}


#phone {

	width: 370px;
	height: 60px;
	border: 1px solid grey;
	margin-top: 25px;
	padding-left: 30px;
	font-size: 15px;
	
}

#mail{

	width: 370px;
	height: 60px;
	border: 1px solid grey;
	margin-top: 25px;
	padding-left: 30px;
	font-size: 15px;
	
}
.galochka{
		padding-top: 30px;
		font-family: 'Open Sans', sans-serif;

}
.blue {
	padding-left: 20px;
	color: blue;
	font-family: 'Open Sans', sans-serif;
	
}
.button {
margin-top: 40px;
width: 400px;
height: 60px;
background-color: #3D3BFF;
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 18px
}