*{
	margin: 0;
	padding: 0;
	border: 0;
}
.cont {
	padding-left: 375px;
	padding-top: 300px;

	
}
.wsd {
	display: flex;
	align-items: center;
	justify-content: center;
	Flex-direction: column;
	
}
.img {
	position: relative;

	
}


.text_im {
	
	position: absolute;
	top: 280px;
	
	display: flex;
	align-items: center;
	justify-content: center;
	Flex-direction: column;
	color: blue;


}
.text12 {

}